Maven/Exm1/src/main/webapp/wsdl/GetInfoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.yang.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.yang.com" xmlns:intf="http://webservice.yang.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.yang.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getInfo">
    <complexType>
     <sequence>
      <element name="sno" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInfoResponse">
    <complexType>
     <sequence>
      <element name="getInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getInfoResponse">

      <wsdl:part element="impl:getInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInfoRequest">

      <wsdl:part element="impl:getInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetInfoService">

      <wsdl:operation name="getInfo">

         <wsdl:input message="impl:getInfoRequest" name="getInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInfoResponse" name="getInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetInfoServiceSoapBinding" type="impl:GetInfoService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetInfoServiceService">

      <wsdl:port binding="impl:GetInfoServiceSoapBinding" name="GetInfoService">

         <wsdlsoap:address location="http://localhost:8083/Exm1/services/GetInfoService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
